{% extends "_base.html" %}
{% load static %}

{% load account %}

{% block title %}Confirm Email Address{% endblock title %}

{% block content %}
<div class="limiter">
    <div class="container-login100" style="background-image: url({% static 'images/bg-01.jpg' %});">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <span class="login100-form-title p-b-49">
                Confirm Email Address
            </span>
            {% if confirmation %}

            {% user_display confirmation.email_address.user as user_display %}
                
            {% if can_confirm %}
                <div class="text2 text-center p-t-20 p-b-54">
                    <span>
                        Please confirm that <a href="mailto:{{ confirmation.email_address.email }}">{{ confirmation.email_address.email }}</a> is an email address for user {{ user_display }}.
                    </span>
                </div>
                <form class="login100-form validate-form" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    {% csrf_token %}
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" type="submit">
                                Confirm
                            </button>
                        </div>
                    </div>
                </form>
            {% else %}
                <div class="text2 text-center p-t-20 p-b-54">
                    <span>
                        Unable to confirm {{ email }} because it is already confirmed by a different account.
                    </span>
                </div>
            {% endif %}
            {% else %}
                
                {% url 'account_email' as email_url %}
                <div class="text2 text-center p-t-20 p-b-54">
                    <span>
                        This email confirmation link expired or is invalid. Please <a href="{{ email_url }}" style="color: blue;">issue a new email confirmation request</a>.
                    </span>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}