{% extends "_base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<div class="limiter">
    <div class="container-login100" style="background-image: url({% static 'images/bg-01.jpg' %});">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form" method="post" action="{% url 'account_change_password' %}">
                {% csrf_token %}
                <span class="login100-form-title p-b-49">
                    {% trans "Change Password" %}
                </span>
                
                <div class="wrap-input100 validate-input m-b-23" data-validate="Password is required">
                    <span class="label-input100">Current Password</span>
                    <input class="input100" type="password" name="oldpassword" placeholder="Current Password">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>
                
                <div class="wrap-input100 validate-input m-b-23" data-validate="Password is required">
                    <span class="label-input100">New Password</span>
                    <input class="input100" type="password" name="password1" placeholder="New Password">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <span class="label-input100">New Password (again)</span>
                    <input class="input100" type="password" name="password2" placeholder="New Password (again)">
                    <span class="focus-input100" data-symbol="&#xf191;"></span>
                </div>

                <div class="text-right p-t-8 p-b-31">
                    <a href="{% url 'account_reset_password' %}">
                        Forgot password?
                    </a>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="submit" name="action">
                            {% trans 'Change Password' %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}